body {
  /* height: 100%;
  width: 100%; */
  background-color: #FFFBF7;
  font-family: helvetica;
}

/* header styling same on each page */
#header {
  margin: auto;
  text-align: center;
  font-size: 3.5em;
  font-weight: 700;
  cursor: pointer;
  color: #3a404a;
  text-shadow: 0 0 1px black;
  letter-spacing: .2em;
}

#header2 {
  margin: auto;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  cursor: pointer;
  color: #3a404a;
  text-shadow: 0 0 1px black;
  letter-spacing: .1em;
}

.buttonContainer {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;

}

.buttonBar {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
  color: #CFCBC8;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  font-weight: 100;
  text-shadow: 0 0 1px black;


}


.button1 {
  display: flex;

  width: 24%;
  text-align: center;
  flex-direction: column;

}
.button2 {
  display: flex;
  width: 24%;
  flex-direction: column;


}
.button3 {
  display: flex;
  width: 24%;
  flex-direction: column;


}
.button4 {
  display: flex;
  width: 24%;
  flex-direction: column;
}

.ulFlex {
  display: none;
  color: black;
  position: relative;
  margin-top: -.4em;
}

.ulFlexLink {
  font-size: .5em;
  text-decoration: none;
  color: black;
}
.projButton{
  display: none;
  color: black;
  position: relative;
  margin-top: -.4em;
}

.ulFlexLink2 {
  font-size: .5em;
  text-decoration: none;
  color: black;
}



.divButton:hover {
  font-weight: bolder;
}

#divButton1 {
  display: inline-block;
  cursor: pointer;
  width: 24%;
}

#divButton2 {
  display: inline-block;
  cursor: pointer;
  width: 24%;
}

#divButton3 {
  display: inline-block;
  cursor: pointer;
  width: 24%;
}

#linksButton {
  display: inline-block;
  cursor: pointer;
  width: 24%;
}

#ulNav {
  display: block;
  text-align: right;
  padding-left: 0;
  margin-top: -.15em;
  width: 26.5%;
  float: right;

}

.links {
  display: none;
  list-style: none;
  text-align: center;
}

#aLinks {
  text-decoration: none;
  color: black;
}

#header:hover {
text-decoration: underline;
}

a:hover {
  font-weight: bolder;
}

.hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* styling for bio page */
.bioContainer {
  width: 75%;
  margin: auto;
  margin-top: 5em;
  text-align: left;
  color: #3a404a;
}
#careerID {
  margin-bottom: 1em;

}
#personalID {
  margin-bottom: 1em;

}
.careerDiv {
  display: none;
}

.personalDiv {
  display: none;
}

.additionalDiv {
  display: none;
}

/* styling for resume page */
.skillsContainer {
  width: 75%;
  margin: auto;
  margin-top: 5em;
  text-align: left;
  color: #3a404a;
}

.skillsDiv {
  display: none;
  margin-bottom: 2em;
  letter-spacing: .05em;
}

.workExpDiv {
  display: none;
  letter-spacing: .05em;

}

.educationDiv {
  display: none;
  letter-spacing: .05em;

}

#skillsID {
  width: 5%;
}

#workID {
  width: 24%;
}

#educationID {
  width: 15%;
}

.resumeContainer {
  width: 75%;
  margin: auto;
  margin-top: 5em;
  text-align: left;
  color: #3a404a;
}

.pdf {
  display: block;
}

#pdfID {
  text-decoration: none;
  color: #CFCBC8;
}

#pdfID:hover {
  text-decoration: underline;
}

/* welcome page styling */
.welcomePageContainer {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 10em;
  justify-content: center;
}

.welcomeInnerContainer {
  display: flex;
}

.welcomeText {
  display: flex;
  font-size: 1.1em;
  color: #3a404a;
  padding: .5em;
  letter-spacing: .05em;
  justify-content: center;
}

.welcomeTextId {
  text-align: center;
  letter-spacing: .1em;
  color: #3a404a;
}

.welcomeTextFlex {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.imgContainer {
  display: flex;
  width: auto;
}

.picture {
  display: flex;
  margin-right: 1em;
  border-radius: 8px;
  max-width: 15em;
  height: auto;
}

/* styling for projects page */
.projectOutterContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.projectInnerContainer {
  display: flex;
  width: 90%;
  letter-spacing: .1em;
  /* flex-wrap: wrap; */
}

.projects {
  display: flex;
  width: 100%;
  justify-content: center;
}

.projectModalContainer {
  position: relative;
  margin: auto;
  width: 65%;
  margin-top: 10em;
}

.modal1 {
  display: none;
  background-color: rgba(1, 1, 1, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal1Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 5em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

.modal2Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 5em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

.modal3Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 5em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

.modal4Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 5em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

#projTitle {
  letter-spacing: .05em;
}

.closeButton {
  margin-top: -.25em;
  margin-right: 1em;
  cursor: pointer;
}

.closeButton:hover {
  text-decoration: underline;
}

hr {
  height: 1px;
  border: 0;
  border-top: 5px solid #3a404a;
  margin-top: 2.35em;
  width: 75%;
}
@media (max-width: 1000px) {
  #header {
    display: block;
    margin-bottom: .5em;

  }
  #header2 {
    display: block;
    margin-bottom: 1em;

     }
  .welcomeInnerContainer {
    display: block;
  }
  .picture {
    margin: auto;
    margin-bottom: 1em;
    margin-top: -3em;
  }
  .projectOutterContainer {
    text-align: left;
  }
  .projectInnerContainer {
    display: block;
    text-align: left;
    margin: 0;
  }
  .projects {
    display: block;
    text-align: left;
    letter-spacing: normal;
  }
}
.resumeContainer {
  margin-top: -.5em;
}
.bioContainer {
  margin-top: -.3em;
}
@media (max-width: 700px) {
  #header {
    display: block;
    margin-bottom: .5em;

  }
  #header2 {
    display: block;
    margin-bottom: 1em;

     }
  .buttonBar {
    text-align: left;
    display: block;
    margin: auto;

  }
  .divButton {
    font-size: 1.5em;
    text-align: left;
  }
  .welcomeInnerContainer {
    display: block;
  }
  .picture {
    display: none;
    margin: auto;
    max-height: 200px;
  }
  .projectOutterContainer {
    text-align: left;
  }
  .projectInnerContainer {
    display: block;
    text-align: left;
    margin: 0;
  }
  .projects {
    display: block;
    text-align: left;
    letter-spacing: normal;
  }
}
.resumeContainer {
  margin-top: -.5em;
}
.bioContainer {
  margin-top: -.3em;
}
