body {
  height: 100%;
  width: 100%;
  background-color: #FFFBF7;
  font-family: helvetica;
}

/* header styling same on each page */
/* styling for the name at top h1 */
#header {
  margin: auto;
  text-align: center;
  font-size: 3.5em;
  font-weight: 700;
  cursor: pointer;
  color: #3a404a;
  text-shadow: 0 0 1px black;
  letter-spacing: .2em;
}

#header:hover {
  text-decoration: underline;
}

/* h3 styling in header */
#header2 {
  margin: auto;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  color: #3a404a;
  text-shadow: 0 0 1px black;
  letter-spacing: .1em;
}

/* top level div flex for button menu */
.buttonContainer {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;
}

/* inner container for div flex menu bar */
.buttonBar {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
  color: #CFCBC8;
  font-size: 2.3em;
  margin-top: 1em;
  text-align: center;
  font-weight: 100;
  text-shadow: 0 0 1px black;
}

/* bio button */
.button1 {
  display: flex;
  width: 24%;
  text-align: center;
  flex-direction: column;
}

/* resume button */
.button2 {
  display: flex;
  width: 24%;
  flex-direction: column;
}

/* projects button */
.button3 {
  display: flex;
  width: 24%;
  flex-direction: column;
}

/* links button */
.button4 {
  display: flex;
  width: 24%;
  flex-direction: column;
}

/* links inside of drop down menu */
.ulFlex {
  display: none;
  color: black;
  position: relative;
  margin-top: -.4em;
}

/* remove stylin from a links */
.ulFlexLink {
  font-size: .5em;
  text-decoration: none;
  color: black;
}

/* buttons in menu bar */
.divButton:hover {
  font-weight: bolder;
}

/* make drop down menu bolder on hover */
.ulFlexLink:hover {
  font-weight: bolder;
}

/* outter div flex for social links */
.footerDiv {
  display: flex;
  width: 90%;
  margin: auto;
}

/* inner div flex for social links */
.mediaBar {
  display: flex;
  width: 10%;
  margin: auto;
  justify-content: center;
}

/* icons inside the flex elements in the footer */
.icons {
  padding: .5em;
  margin: auto;
  display: flex;
  width: 80%;
}

/* styling for bio page */
.bioContainer {
  width: 75%;
  margin: auto;
  text-align: left;
  color: #3a404a;
}

#careerID {
  margin-bottom: 1em;
}

#personalID {
  margin-bottom: 1em;
}

.careerDiv {
  color: #3a404a;
  display: none;
  text-indent: 1%;
  letter-spacing: .03em;
  border: 2px solid #CFCBC8;
  padding: .5em;
  border-radius: 4px;
  font-size: 1.1em;
}

.personalDiv {
  color: #3a404a;
  display: none;
  text-indent: 2%;
  letter-spacing: .03em;
  border: 2px solid #CFCBC8;
  padding: .5em;
  border-radius: 4px;
  font-size: 1.1em;
}

.additionalDiv {
  color: #3a404a;
  display: none;
  text-indent: 2%;
  letter-spacing: .03em;
  border: 2px solid #CFCBC8;
  padding: .5em;
  border-radius: 4px;
  font-size: 1.1em;
}

/* adds an underline to elements on bio, resume, and projects page */
.hover:hover {
  text-decoration: underline;
}

/* styling for resume page */
.skillsContainer {
  width: 75%;
  margin: auto;
  margin-top: 5em;
  text-align: left;
  color: #3a404a;
}

.skillsDiv {
  display: none;
  margin-bottom: 2em;
  letter-spacing: .05em;
}

.workExpDiv {
  display: none;
  letter-spacing: .05em;
}

.educationDiv {
  display: none;
  letter-spacing: .05em;
}

/* these are how wide each h2 is in the resume page. the normal widths were too wide and causing the hover property to trigger when not actually being over the text. */
#skillsID {
  width: 5%;
}

#workID {
  width: 20%;
}

#educationID {
  width: 15%;
}

.resumeContainer {
  width: 75%;
  margin: auto;
  margin-top: 5em;
  text-align: left;
  color: #3a404a;
}

.pdf {
  display: block;
}

#pdfID {
  text-decoration: none;
  color: #CFCBC8;
}

#pdfID:hover {
  text-decoration: underline;
}

/* welcome page styling */
.welcomePageContainer {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 7em;
  justify-content: center;
}

.welcomeInnerContainer {
  display: flex;
}

.welcomeText {
  display: flex;
  font-size: 1.1em;
  color: #3a404a;
  padding: .5em;
  letter-spacing: .05em;
  justify-content: center;
}

.welcomeTextId {
  text-align: center;
  letter-spacing: .1em;
  color: #3a404a;
}

.welcomeTextFlex {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.imgContainer {
  display: flex;
  width: auto;
}

.picture {
  display: flex;
  margin-right: 1em;
  border-radius: 8px;
  /* prevent image from getting too big */
  max-width: 15em;
  height: auto;
}

/* styling for projects page */
.projectOutterContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.projectInnerContainer {
  display: flex;
  width: 90%;
  letter-spacing: .1em;
  /* flex-wrap: wrap; */
}

.projects {
  display: flex;
  width: 100%;
  justify-content: center;
}

.projectModalContainer {
  position: relative;
  margin: auto;
  width: 65%;
  margin-top: 10em;
}

/* this the gray div that covers the whole page when the modal pops up */
.modal1 {
  display: none;
  background-color: rgba(1, 1, 1, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* covers whole page */
  height: 100%;
  width: 100%;
  /* puts the modal infront of all other elements on the page */
  z-index: 1;
  overflow: auto;
}

/* the actual text box of the modal */
.modal1Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 6.7em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

.modal2Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 6.7em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

.modal3Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 6.7em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

.modal4Text {
  display: none;
  background-color: #FFFBF7;
  color: #3a404a;
  position: absolute;
  border: 2px solid lightgray;
  margin-top: 6.7em;
  padding: .5em;
  border-radius: 5px;
  letter-spacing: .03em;
}

/* simple formating for the actual "title" of the projects in the modal. */
#projTitle {
  letter-spacing: .05em;
}

/* close button formating inside modal */
.closeButton {
  margin-top: -.25em;
  margin-right: 1em;
  cursor: pointer;
}

.closeButton:hover {
  text-decoration: underline;
}

/* horizontal line formating on all pages */
hr {
  height: 1px;
  border: 0;
  border-top: 5px solid #3a404a;
  margin-top: 2.35em;
  width: 75%;
}

/* horizontal line formating on home page */
#homeBottom {
  height: 1px;
  border: 0;
  border-top: 5px solid #3a404a;
  margin-top: -3em;
  width: 75%;
}

#projectsBottom {
  height: 1px;
  border: 0;
  border-top: 5px solid #3a404a;
  margin-top: 8.35em;
  width: 75%;
}

/* media query for tablet only active less than 1100px */
@media (max-width: 1100px) {
  #header {
    display: block;
    margin-bottom: .5em;
  }

  #header2 {
    display: block;
    margin-bottom: 1em;
  }

  .buttonBar {
    font-size: 2em;
  }

  .welcomeInnerContainer {
    display: block;
  }

  .picture {
    margin: auto;
    margin-bottom: 1em;
    margin-top: -3em;
  }

  .resumeContainer {
    margin-top: -.5em;
  }

  .bioContainer {
    margin-top: -.3em;
  }

  /* media query for phone only active less than 625px */
  @media (max-width: 625px) {
    #header {
      display: block;
      margin-bottom: .5em;
    }

    #header2 {
      display: block;
      margin-bottom: 1em;
    }

    .buttonBar {
      text-align: left;
      display: block;
      margin: auto;
    }

    .divButton {
      font-size: 1.5em;
      text-align: left;
    }

    .welcomeInnerContainer {
      display: block;
      margin-bottom: -4em;
    }

    .picture {
      display: inline;
      margin: auto;
      max-height: 300px;
      margin-bottom: 1em;
      margin-top: -3em;
    }

    .projectInnerContainer {
      display: block;
      padding: 1em;
      margin-left: 2em;
      margin-bottom: -6em;
    }

    .projects {
      display: block;
      text-align: left;
      letter-spacing: normal;
    }

    .resumeContainer {
    margin-top: -.5em;
    }

    .bioContainer {
    margin-top: -.3em;
    }

    .mediaBar {
    width: 90%;
    }

    #homeBottom {
      margin-top: .5em;
    }
    .modal1Text {
      margin-top: 5em;
    }
    .modal2Text {
      margin-top: 5em;
    }
    .modal3Text {
      margin-top: 5em;
    }
    .modal4Text {
      margin-top: 5em;
    }
